/* GERAL */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0872BF;
    --secondary-color: #fff;
    --tertiary-color: #1B2323;

    --primary-font: Arial, sans-serif;
    --secondary-font: Calibri, sans-serif;
}

body {
    background-color: #141A1A;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: #0a0e0e;
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #093250;
}